<ion-header [translucent]="true" class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title>
      JaelEspinosa's News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"  class="ion-no-border" mode="ios">
    <ion-toolbar>
      <ion-title size="large">JaelEspinosa's News</ion-title>
    </ion-toolbar>
  </ion-header>

   <app-articles  [articles]="articles"></app-articles>

   <ion-infinite-scroll
   threshold="25%"

   position="bottom"
   (ionInfinite)="loadData()"
   >
<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>
<h5 *ngIf="finalData" style="text-align: center; color: var(--ion-color-primary);">{{finalData}}</h5>

</ion-content>
